@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--bgButton);
}

:root {
  --bgButton: #8700ca;
  --bgBanner: #eff0f3;
  --colorText: #2b2c34;
  --bgBanner2: #e4e5e9;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgBanner2);
}

a {
  text-decoration: none;
  color: black !important;
}

section {
  padding-top: 100px !important;
  padding-bottom: 50px !important;
  overflow-x: hidden;
}

/* Navbar */
.buyMeCoffee {
  background: var(--bgButton);
  border: 1px solid var(--bgButton);
  color: white !important;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-right: 0 !important;
}

.buyMeCoffee:hover {
  background: transparent;
  color: var(--bgButton) !important;
}

.navbar {
  background: var(--bgBanner2) !important;
  transition: 0.3s;
}

.navbar.scrollUp {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#animateNav {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  margin-right: 20px;
  transition: 0.4s !important;
  font-size: 14px;
}

#animateNav.fadeIn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.iconCoffee {
  font-size: 16px;
  margin-right: 5px;
}

.navbar-nav a.active,
.navbar-nav a:hover {
  color: var(--bgButton) !important;
}

.navbar-brand {
  font-size: 24px !important;
  font-weight: 600 !important;
}

.navbar-brand span {
  color: var(--bgButton);
  font-size: 14px;
  font-weight: initial;
}
/* Navbar */

/* Banner */
.home {
  position: relative;
  overflow-y: hidden;
  height: 100vh;
}

.blog {
  width: 100%;
}

@keyframes animateFadeIn {
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

.scrollBottom {
  position: absolute;
  bottom: 20px;
  width: 20px;
  height: 35px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  transform: rotate(0deg);
}

.scrollBottom.fadeIn {
  transform: rotate(360deg);
}

.scrollBottom div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: 1s scrollBottom infinite alternate;
}

.home h1 {
  transform: translateY(-50px);
  font-weight: 900;
}

.home h1.fadeIn {
  transform: translateY(0);
}

.imgBanner {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -100px;
  right: -5px;
}

.home p {
  margin: 22px 15px;
  color: var(--colorText);
  position: relative;
  transform: translateX(-50px);
}

.home p.fadeIn {
  transform: translateX(0px);
}

.home p:before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  width: 2px;
  height: 0%;
  background-color: var(--colorText);
  transition: 1s;
  transition-delay: 0.3s;
}

.home p.fadeIn:before {
  height: 100%;
}

.home img {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
  transform: translateX(50px);
}

.home svg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.home img.fadeIn {
  transform: translateX(0px);
}

.home form {
  transform: translateY(50px);
}

.home form.fadeIn {
  transform: translateY(0);
}

#animateHome {
  transition: 1s !important;
  visibility: hidden;
  opacity: 0;
}

#animateHome.fadeIn {
  visibility: visible;
  opacity: 1;
}

.home input {
  margin-right: 5px;
}

.home button {
  padding: 6px 12px;
}
/* Banner */

/* Category */
#animateCategory,
#animateArticle,
#animateArticle2,
#animateArticle3,
#animateContact {
  position: relative;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

#animateCategory.fadeIn,
#animateArticle.fadeIn,
#animateArticle2.fadeIn,
#animateArticle3.fadeIn,
#animateContact.fadeIn {
  opacity: 1;
  visibility: visible;
}

.browse {
  transform: translateX(-20px);
}

.browse.fadeIn {
  transform: translateX(0px);
}

.seeAll {
  transform: translateX(20px);
}

.seeAll.fadeIn {
  transform: translateX(0px);
}

.browse:after {
  content: "";
  display: block;
  position: absolute;
  right: -25px;
  bottom: 40%;
  width: 20px;
  height: 2px;
  background: black;
}

.textCategory {
  transition: 0.3s;
}

#animateCategory.iconArrow.fadeIn,
#animateArticle.iconArrow.fadeIn,
#animateArticle2.iconArrow.fadeIn,
#animateArticle3.iconArrow.fadeIn {
  visibility: hidden;
  opacity: 0;
}

.iconArrow {
  margin-right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.hoverSeeAll:hover {
  transition: 0.3s !important;
  color: var(--bgButton) !important;
}

.hoverSeeAll:hover .textCategory {
  margin-right: 5px;
}

.hoverSeeAll:hover .iconArrow.fadeIn {
  margin-right: 0px;
  visibility: visible !important;
  opacity: 1 !important;
}

.iconCategory {
  padding: 2px;
  margin-left: 8px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border-radius: 4px;
}

.wrapperCategory {
  display: flex;
}

.card {
  height: 280px;
  border-radius: 8px !important;
  transform: scale(0);
  border: none;
  box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card.fadeIn {
  transform: scale(1);
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.card:hover {
  background: var(--bgButton);
  box-shadow: 10px 10px 20px -10px #8700ca, -8px -8px 1px black;
  color: white;
  transform: translateY(-8px);
}

.card:hover .iconCategory {
  background: white;
}
/* Category */

.scrollTop {
  z-index: 999;
  position: fixed;
  bottom: 0px;
  right: 20px;
  font-size: 25px;
  border: 1px solid var(--bgButton);
  color: white !important;
  border-radius: 50%;
  width: 40px;
  text-align: center;
  background-color: var(--bgButton);
  transition: 0.6s;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.scrollTop.active {
  transform: scale(1);
  bottom: 20px;
  opacity: 1;
  visibility: visible;
}

.scrollTop:hover {
  background: transparent;
  color: var(--bgButton) !important;
}

@keyframes scrollBottom {
  from {
    margin: auto;
    transform: translateY(-8px);
  }
  to {
    margin: auto;
    transform: translateY(8px);
  }
}

/* Article */
.article {
  margin-top: 80px;
  background: white;
  padding-bottom: 60px;
}

.article img {
  border-radius: 8px;
}

.cardArticle img {
  height: 150px;
  width: 100%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

.cardArticle {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px;
  transform: scale(0);
  cursor: pointer;
}

.cardArticle.fadeIn,
.cardArticle2.fadeIn,
.cardArticle3.fadeIn {
  transform: scale(1);
}

.cardArticle:hover,
.cardArticle2:hover,
.cardArticle3:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.05);
}

.article small span {
  display: inline-block;
  position: relative;
  bottom: 4px;
  margin: 0 3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--colorText);
}

.desc div small {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: var(--colorText) !important;
}

.author {
  font-size: 12px !important;
  margin-bottom: 0px;
}

.article h6 {
  font-weight: 600 !important;
}

.article .btn.buyMeCoffee {
  transform: scale(0);
}

.article .btn.buyMeCoffee.fadeIn {
  transform: scale(1);
}

.article .btn.buyMeCoffee {
  display: initial !important;
}
/* Article */

/* Contact */
.contact {
  background: var(--bgBanner);
  padding-bottom: 70px;
}

.contact form {
  display: flex;
}

.contact input {
  margin-right: 5px;
}

h3 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

#animateContact {
  transform: translateY(30px);
}

#animateContact.fadeIn {
  transform: translateY(0px);
}
/* Contact */

/* Footer */
footer .col-xl-4 .iconify {
  color: black;
  font-size: 20px;
  margin-right: 25px;
  transition: 0.3s;
}

.linkIcon:hover .iconify,
footer a:hover {
  color: var(--bgButton) !important;
}

footer span {
  color: var(--bgButton);
  font-size: 14px;
  font-weight: initial;
}

a {
  transition: 0.3s;
}

footer h5 {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

footer div.mt-3 a {
  display: block;
  margin-bottom: 10px;
}
/* Footer */

button#animateNav {
  margin: 0 !important;
}

@media (max-width: 991px) {
  .home {
    height: auto;
  }
  /* Banner */
  .home h1 {
    font-size: 2rem;
  }

  .home p,
  input,
  button {
    font-size: 14px !important;
  }
  .iconCoffee {
    margin: 0 8px !important;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    outline: none !important;
    border: 0 !important;
    box-shadow: none !important;
  }
  /* Banner */
}

@media (max-width: 768px) {
  .category h5 {
    font-size: 18px !important;
  }

  .img {
    padding: 0px;
  }

  .home {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .article h6 {
    font-size: 14px;
  }

  .home h1 {
    font-size: 1.5rem;
  }

  footer .row {
    text-align: center;
  }

  p,
  input,
  button,
  footer a,
  small {
    font-size: 14px;
  }

  .card:hover,
  .cardArticle:hover {
    transform: translateY(0px);
  }

  .wrapperCategory {
    display: initial !important;
  }

  .browse:after {
    display: none;
  }

  #animateCategory.iconArrow.fadeIn,
  #animateArticle.iconArrow.fadeIn,
  #animateArticle2.iconArrow.fadeIn,
  #animateArticle3.iconArrow.fadeIn {
    visibility: visible;
    opacity: 1;
  }

  .iconArrow {
    margin-right: 0px;
    visibility: visible;
    opacity: 1;
  }

  nav .container {
    padding: 0 20px !important;
  }

  section.home .container {
    padding: 0 10px !important;
  }

  section .container {
    padding: 0 30px;
  }

  .home {
    height: 100vh;
  }
}
